
.article{
    
    height: 80vh;
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./img23.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.item{
    margin-top: 2rem;
    margin-right: 2rem;
}
@media(max-width:500px){
    h3,h4,h5{
        font-size: medium;
    }
}