.mainPart{
    padding: 1rem;
}
.darkmainPart{
    padding: 1rem;
    
    background-color: rgba(75, 75, 77, 0.623);
}
.mainPart .describe{
    direction: rtl !important;
    text-align: center;
    padding-top: 1rem;
}
.darkmainPart .describe{
    direction: rtl !important;
    text-align: center;
    padding-top: 1rem;
}
.link{
    text-align: center;
}
.darklink{
    color: antiquewhite;
    text-align: center;
}

@media(max-width:500px){
    .mainPart .describe{
        font-size: 15px;
    }
    .darkmainPart .describe{
        font-size: 15px;
    }

}